// Body
$body-bg: #90ADC6;
$pewter: #E9EAEC;
$azuloscuro: #333652;
$grisazul: #90ADC6;
$amarillo: #FAD02C;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
