// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.cuadromenupr{
    height: 40%;
    width:40%;
    background-color: $pewter;
}
.cuadromenupr :hover {
    background-color:black;
  }
  .imgmenupr{
    justify-self: center;
    border-radius: 10px;
    margin-top: 10%;
}